


<!-- <% Date date_in[] = new Date[10]; 
    		Date date_out[] = new Date[10]; 
			String address[] = new String[10];
			String content[] = new String[10];
		EventDAO eventDao = new EventDAO();
		ArrayList<Event> list = new ArrayList<>();
		list = eventDao.selectAll();
		for(int i=0; i<list.size(); i++){
			Event e = list.get(i);
			date_in[i] = e.getDate_begin();
			date_out[i] = e.getDate_end();
			address[i] = e.getLocation();
			content[i] = e.getContent();
		}
		%> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>
</head>
<body>

<h2>Accordion</h2>

<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</body>
</html>



<div style="padding-top: 80px; " >
  <ul class="accordion">
      <li name="li1">
          <input type="radio" name="accordion" id="first" checked >
          <label for="first" >product</label>
          <div class="content">
              <p style="font-weight: bold;">Thời gian diễn ra: ....</p>
              <p style="font-weight: bold;">Địa điểm: ....</p>
              <p style="font-weight: bold;">Nội dung hoạt động: </p>
              <p>
                  sadfaasbjdfbasdjaskfdjfbaskdjaskjdbskadbfjdskfajdbkajsdbkjasfkdsj
                  asbdfjkbaskjdfasbkdf
              </p>
          </div>
      </li>
      <li name="li2">
          <input type="radio" name="accordion" id="second">
          <label for="second">infor</label>
          <div class="content">
              <p style="font-weight: bold;">Thời gian diễn ra: ....</p>
              <p style="font-weight: bold;">Địa điểm: ....</p>
              <p style="font-weight: bold;">Nội dung hoạt động: </p>
              <p>
                  CÓ THỂ BẠN ĐÃ BIẾT:
              G403, G603, G604, G703 (cả Hero Lightspeed và thế hệ trước), G903 (cả Hero Lightspeed và thế hệ trước), G502 Wireless, G Pro Wireless có thể sử dụng chung receiver với nhau.
              G Pro X, G502X, G303 Shroud sử dụng chung receiver với nhau.
              G304 sử dụng receiver riêng biệt.
              Thế nên, nếu bạn bị mất receiver thì không nhất thiết phải có đúng receiver chuột đó thì mới pair lại được.
              Để kết nối lại chuột với receiver, bạn có thể sử dụng Pair Tool có sẵn trong phần mềm Logitech G Hub.
              </p>
          </div>
      </li>
      <li name="li3">
          <input type="radio" name="accordion" id="third">
          <label for="third">infor</label>
          <div class="content">
              <p style="font-weight: bold;">Thời gian diễn ra: ....</p>
              <p style="font-weight: bold;">Địa điểm: ....</p>
              <p style="font-weight: bold;">Nội dung hoạt động: </p>
              <p>
                  sadfaasbjdfbasdjaskfdjfbaskdjaskjdbskadbfjdskfajdbkajsdbkjasfkdsjasbdfjkbaskjdfasbkdfasbdfjkbaskjdfasbkdfsafasdasbdfjkbaskjdfasbkdfsafasdasdfasbdfjkbaskjdfasbkdf
                  asdfaew
              </p>
          </div>
      </li>
      <li name="li4">
          <input type="radio" name="accordion" id="fourth">
          <label for="fourth">infor</label>
          <div class="content">
              <p style="font-weight: bold;">Thời gian diễn ra: ....</p>
              <p style="font-weight: bold;">Địa điểm: ....</p>
              <p style="font-weight: bold;">Nội dung hoạt động: </p>
              <p>
                  sadfaasbjdfbasdjaskfdjfbaskdjaskjdbskadbfjdskfajdbkajsdbkjasfkdsj
                  asbdfjkbaskjdfasbkdf
                  asbdfjkbaskjdfasbkdfsafasd
                  asbdfjkbaskjdfasbkdfsafasdasdf
                  asbdfjkbaskjdfasbkdf
                  asdfaew
              </p>
          </div>
      </li>
  </ul>
</div>










<div class="card" >
            <img src="./assets/img/slider/sl1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> card's content.</p>
              <button class="card-button"><a href="#">Xem chi tiết</a></button>
            </div>
          </div>
          <div class="card" >
            <img src="./assets/img/slider/sl2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> card's content.</p>
              <button class="card-button"><a href="#">Xem chi tiết</a></button>

            </div>
          </div>
          <div class="card" >
            <img src="./assets/img/slider/sl3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> card's content.</p>
              <button class="card-button"><a href="#">Xem chi tiết</a></button>

            </div>
          </div>
          <div class="card" >
            <img src="./assets/img/slider/sl1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text"> card's content.</p>
              <button class="card-button"><a href="#">Xem chi tiết</a></button>

            </div>
          </div>
          
          
          
          //<!-- <script>
	  // Get the modal
	  var modals = [];
	  var btns = [];
	  <% for (int i=0; i<ids.length; i++) { %>
	    var modal = document.getElementById("myModal<%=ids[i]%>");
	    var btn = document.getElementById("myBtn<%=ids[i]%>");
	    if (modal) {
	      modals.push(modal);
	    }
	    if (btn) {
	      btns.push(btn);
	    }
	  <% } %>
		
	  // When the user clicks the button, open the modal 
	  for (var i=0; i<btns.length; i++) {
	    btns[i].onclick = function(index) {
	      return function() {
	        modals[index].style.display = "block";
	      }
	    }(i);
	  }
		
	  // When the user clicks anywhere outside of the modal, close it
	  window.onclick = function(event) {
	    for (var i=0; i<modals.length; i++) {
	      if (event.target == modals[i]) {
	        modals[i].style.display = "none";
	      }
	    }
	  }
	</script> -->
		
        <script src="./js/modal.js"></script>